
  @import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Aclonica&family=DM+Sans:opsz@9..40&family=Gothic+A1&family=Inter&family=Libre+Franklin&family=Montserrat&family=Plus+Jakarta+Sans&family=Poppins&family=Preahvihear&family=Raleway&family=Roboto&family=Rubik&family=Syne&family=Varela+Round&display=swap');

  *{
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
  }